@use '../util/mixins' as *;
@use '../util/variables' as *;
@use '../themes/defaultThemes' as *;

.item {
  background: $grey-8;
  @include flex-center;
  max-width: $fixed-width;
  margin: 2rem auto;
  justify-content: space-between;
  border-radius: $radius;
  padding: 1rem 2rem;
  button{
    background: $red-light;
    color: $white;
    &:hover{
      background: $red-dark;
    }

  }
  h4,
  p {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
